@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: "Roboto", sans-serif;
  /* font-optical-sizing: auto;
  background: rgba(0, 0, 0, 0, 7); */
}

.list:hover {
  color: #ff6464;
}
.lists:hover {
  color: #ff6464;
}

.submenu:hover {
  visibility: hidden;
}
.submenu:hover {
  opacity: 1 !important ;
  visibility: inherit;
}

/* .submenu {
  display: none;
} */
/* .MuiButtonBase-root:hover {
  text-transform: capitalize !important;
  color: #ff5252 !important;
}




/* #ids {
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0, 7) !important;
} */
